@import url("../../styles/pallete.less");

.student-name-input {
 width: 100%;
 padding: 10px;
 margin-bottom: 30px;
 border: 1px solid @pallete-gray;
 border-radius: 8px;
 font-size: 16px;
 background-color: @pallete-background;
 color: @pallete-white;
}

.submit-button {
 margin-top: 40px;
 padding: 12px 20px;
 background-color: @pallete-blue;
 color: @pallete-white;
 font-size: 16px;
 border: none;
 border-radius: 10px;
 cursor: pointer;
 transition: 0.3s;

 &:hover {
  background-color: @pallete-green;
 }
}
